* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.container a {
  text-decoration: none;
  color: #252525;
}
/* nav a:hover {
  text-decoration: underline;
  color: #252525;
  font-weight: bolder;
}*/
a.link-active {
  text-decoration: underline;
  color: #252525;
  font-weight: bolder;
}

nav {
  background-color: #fff7ed;
  padding: 0.01em 0;
}
.home-content {
  background-image: url(./assets/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3em 0;
  height: 100vh;
  width: 100%;
  color: white;
}
.home-content-btn {
  text-align: center;
  color: #fff;
  padding: 1em 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ff8a65;
  border: none;
}
.btn {
  margin-top: 3em;
  color: white;
  font-weight: 200;
  background: none;
  border: none;
  width: 100%;
}
footer {
  background-color: #252525;
  padding: 2em 0;
  text-align: center;
  color: white;
  font-weight: 100;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9rem;
}
.about-img {
  width: 100%;
}

.about-items {
  padding: 3em 0;
}
.explore {
  background-color: #ffcc8d;
  padding: 2em;
  margin-top: 2em;
}
.explore a {
  background-color: black;
  color: white;
  padding: 1em;
  border-radius: 10px;
}
.explore h2 {
  margin-bottom: 2em;
}
.vanLists li {
  list-style: none;
}
.vanLists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 3em 0;
  justify-content: center;
  align-items: center;
}
.van-image {
  width: 100%;
  border-radius: 10px;
}
.van-type {
  color: #fff;
  padding: 0.5em;
  width: fit-content;
  text-align: center;
  border-radius: 5px;
}
.van-images {
  border-radius: 5px;
}
.name-price {
  display: flex;
  justify-content: space-between;
}
.van-name,
.van-price {
  font-size: 1.2rem;
  font-weight: 500;
}
.van-component {
  padding: 3em 0;
}
.button-link {
  width: 100%;
  background: #ff8c38;
  color: white;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2em;
  border: none;
}
.van-component img {
  width: 100%;
  height: auto;
}
.back-to-van {
  padding: 0;
}
a.link-active-host {
  text-decoration: underline;
  color: #252525;
  font-weight: bolder;
}
.dashboard-link:focus {
  color: #252525;
  font-weight: bolder;
  text-decoration: underline;
}
.host-nav-bar a + a {
  margin-left: 1em;
}
.about-vans a + a {
  margin-left: 1em;
}
.van-list {
  display: flex;
  align-items: center;
  gap: 2em;
}
.host-van-image {
  width: 20%;
}
.host-van-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.host-nav-bar {
  padding: 3em 0;
}
.van-ul li {
  list-style: none;
  padding: 2em;
  margin-top: 1em;
  background-color: #fff;
  border-radius: 5px;
}
.host-van-container {
  height: 100vh;
}
